.navigation-tile {

    &-image-holder {
        position: relative;
        border: 3px solid $black;
        border-radius: 4px;
        box-shadow: $light-shadow;
        transition: all 1s;

        :hover > & {
            box-shadow: $pink-shadow;
        }
    }

    &-image {
        background-size: cover;
        background-position: center center;
        border: 2px solid $white;
        opacity: 0;
        transition: opacity 1.5s;

        &.loaded {
            opacity: 1;
        }

        img {
            display: none;
        }
    }

    &-title {
        padding: 0 20px;
        text-align: center;
        transition: all 0.5s;

        :hover > & {
            text-shadow: $dark-shadow;
        }
    }
}