.building-block {
    
    h1 {
        max-width: 600px;
        margin: 40px auto;
        text-align: center;

        @include media(min-lg){
            max-width: 800px;
        }
    }

    &-featured-image {

        margin: 40px 20px;

        @include media(min-sm){
            margin: 40px auto;
        }

        img {
            border: 4px solid $dark-blue;
        }
        
    }
}