.creative-coding-project {
    
    h1 {
        max-width: 600px;
        margin: 40px auto;
        text-align: center;

        @include media(min-lg){
            max-width: 800px;
            margin: 60px auto;
        }
    }
    
    &-iframe-holder { 
        display: flex;
        
        .wp-block-group__inner-container {
            position: relative;
            display: inline-block;
            margin: 0 auto 4rem;
            border: 3px solid $black;
            border-radius: 4px;
            box-shadow: $light-shadow;

            iframe {
                display: block;
                border: 3px solid $white;
                opacity: 0;
                transition: opacity 1.5s;

                &.loaded {
                    opacity: 1;
                }
            }
        }
    }

    &-browser-message {
        margin: 0 20px;

        @include media(min-md){
            max-width: 600px;
            margin: 0 auto;
        }
    }

}
