.home-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 200%;

    &-content {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        min-height: 100%;
    }
}