/*
 * Description:
 * The HTML <button> element represents a clickable button, which can be used in forms or anywhere in a document that needs simple, 
 * standard button functionality.
 */
 
button {
    background: transparent;
    color: $white;
    padding-inline-end: 0;
    padding-inline-start: 0;
    border: none;
    outline:none;
    font-display: swap;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
}