#site-header {
    position: relative;
    z-index: 999;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 20px;

    &.is-home {
        flex-direction: column;
    }

    &.show-border {
        border-bottom: 4px solid $light-blue;
    }

    nav {
        margin-left: auto;

        a {
            padding: 20px;
            font-size: 2.8rem;
            -webkit-text-stroke: 2px $black;
            text-transform: uppercase;
            transition: all 1s;

            &:hover {
                text-shadow: $pink-shadow;
            }


            @include media(min-xxl){
                font-size: 4rem;
            }
        }
    }
}

.logo {
    padding: 18px 0 8px;
    font-family: 'Teko', sans-serif;
    font-size: 7.2rem;
    line-height: 1;
    text-shadow: $light-shadow;
    transition: all 1s;
    -webkit-text-stroke: 3px $dark-blue;

    &:hover {
        text-shadow: $pink-shadow;
    }

    @include media(min-xxl){
        font-size: 9.8rem;
    }

    .is-home & {
        display: block;
        width: 100%;
        font-size: 14.4rem;
        text-align: center;
    }
}