#site-header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logo {
    font-family: 'Teko', sans-serif;
    font-size: 7.2rem;
    line-height: 2;
    text-shadow: $light-shadow;
}