/*
 * Description:
 * The HTML <blockquote> Element (or HTML Block Quotation Element) indicates that the enclosed text is an extended quotation. 
 * Usually, this is rendered visually by indentation (see Notes for how to change it). 
 * A URL for the source of the quotation may be given using the cite attribute, 
 * while a text representation of the source can be given using the <cite> element.
 */
 
blockquote {
    margin: 3rem 0;
    padding: 3rem 3rem 1rem;
    background: linear-gradient(180deg, $white 0%, $light-blue-2 100%);
    border: 4px solid $dark-blue;
    border-radius: 4px;
    color: $dark-blue;

    p {
        margin: 0 0 2rem;
    }
}